/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/

.header {
  display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

  @media (max-width: $breakpoint-sm-max) {
    align-items: center;
    padding: ($spacer / 2) 0 ($spacer / 2) ($spacer / 2);
  }

  @media (min-width: $breakpoint-md-min) {
    align-items: flex-end;
    position: relative;
    padding: ($spacer) 100px ($spacer) 60px;
  }

  .logo {
    a,
    img {
      display: block;
      height: auto;
      width: 100%;

      @media (max-width: $breakpoint-sm-max) {
        max-width: 200px;
      }

      @media (min-width: $breakpoint-md-min) {
        max-width: 350px;
      }
    }
  }
}
