/*-----------------------------------------------------------------------------------*/
/* Images
/*-----------------------------------------------------------------------------------*/

.container {
  .main {
    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
}
